@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}
.heading {
  background: url(" ./image/tyh2.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
  height:390px;
}

.heading h1 {
	color: #C1801C;
	font-size: 6rem;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
}

.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #666;
}

.heading p a {
  color: #222;
  padding-right: .5rem;
}

.heading p a:hover {
  color: rgba(179, 117, 50, 0.986);
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}

.title span {
  color: rgba(179, 117, 50, 0.986);
  padding-left: .7rem;
}

.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}

.title a:hover {
	color: rgba(179, 117, 50, 0.986);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  background: rgba(179, 117, 50, 0.986);
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #222;
}

.header .logo i {
  color: rgba(179, 117, 50, 0.986);
  padding-right: .5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: rgba(179, 117, 50, 0.986);
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
	width: auto;
}

.header .icons div:hover {
  color: rgba(179, 117, 50, 0.986);
}

.header .search-form {
  position: absolute;
  top: -115%;
  right: 2rem;
  width: 50rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header .search-form.active {
  top: 115%;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #222;
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  margin-right: 1.7rem;
  cursor: pointer;
  color: #666;
}

.header .search-form label:hover {
  color: rgba(179, 117, 50, 0.986);
}

.header .shopping-cart {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}

.header .shopping-cart.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .shopping-cart .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.header .shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}

.header .shopping-cart .box .fa-times:hover {
  color: rgba(179, 117, 50, 0.986);
}

.header .shopping-cart .box img {
  height: 10rem;
}

.header .shopping-cart .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: .5rem;
  color: #222;
}

.header .shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #666;
}

.header .shopping-cart .box .content span.multiply {
  margin: 0 .5rem;
}

.header .shopping-cart .total {
  color: #666;
  text-align: center;
  font-size: 2.2rem;
}

.header .shopping-cart .total span {
  color: #222;
}

.header .shopping-cart .btn {
  text-align: center;
  width: 100%;
}

.header .login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: .7rem;
}

.header .login-form .box {
  margin: .7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: #222;
  text-transform: none;
  width: 100%;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.header .login-form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.header .login-form p {
  color: #666;
  padding-top: .7rem;
  font-size: 1.4rem;
}

.header .login-form p a {
  color: rgba(179, 117, 50, 0.986);
}

.header .login-form p a:hover {
  text-decoration: underline;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding: 4rem 0;
}

.category .box-container .box {
  text-align: center;
}

.category .box-container .box img {
  height: 15rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #666;
}

.category .box-container .box:hover h3 {
  color: rgba(179, 117, 50, 0.986);
}

#menu-btn {
  display: none;
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    opacity: 0;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}
.products .card{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Helvetica, Arial;
  font-size: 22px;
  display: grid;
  
  row-gap: 40px; 
  grid-template-columns: repeat(3, 2fr);
}
.products .card .card-container {
  width: 320px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  columns: 3;
}

.products .card .card-container .cover, .products .card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .4rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
  text-shadow: 0 .15rem .2rem rgba(179, 117, 50, 0.986);
  
}
.products .card .card-container .cover {
  letter-spacing: 0.4rem;
  font-size: 3rem;
  transform: rotatey(0deg);
  text-shadow: 5px 5px rgb(151, 108, 9);
  color:#fff;
}
#a{
  
  background: url("./image/f2.jpg");
  background-size:1000px 500px;
  background-position: 0px 0px;
}
#b{
  background: url("./image/f2.jpg");
  background-size:1000px 500px;
  background-position: 0px 300px;
}
#c{
  background: url("./image/f2.jpg");
  background-size:1000px 500px;
  background-position: 50% 0%;
}
#d{
  background: url("./image/f2.jpg");
  background-size:1000px 500px;
  background-position: 50% 100%;
}
#e{
  background: url("./image/f2.jpg");
  background-size:1000px 500px;
  background-position: 100% 20%;
}
#f{
  background: url("./image/f2.jpg");
  background-size:1000px 500px;
  background-position: 100% 100%;
}

.products .card .card-container:hover .cover {
  transform: rotatey(180deg);
}
.products .card .card-container .back {
  padding:2rem;
  font-size: 1.5rem;
  border: 1rem;
  color:#fff;
  transform: rotatey(-180deg);
  background: #C1801C;

}
.products .card .card-container:hover .back {
  transform: rotatey(0deg);
}

       .box-container > div:nth-child(n + 4) {
            margin-top: 40px;
        }
.products .box-container {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: repeat(3, minmax(0, 1fr));
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1.5rem;
        }

       .products .box-container .box {
            position: relative;
            background: #f3f3f3;
            text-align: center;
            overflow: hidden;
        }


.products .box-container .box:hover .icons {
  top: 0;
}

.products .box-container .box .icons {
  position: absolute;
  top: -105%;
  left: 0;
  height: 30rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  gap: 1rem;
}

.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 8rem;
  line-height: 5rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #666;
}

.products .box-container .box .icons a:hover {
	background: rgba(179, 117, 50, 0.986);
	color: #fff;
	font-size: 220%;
}

.products .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
  display: flex; /* 开启弹性布局 */
  align-items:flex-start; /* 垂直方向顶端对齐 */
  justify-content:flex-start;
}

.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
p{
  position:absolute;
  left:50px;
  top:20px;
  color:#f3f3f3;
  font-size: 3rem;
}
.products .box-container .box .image  :hover{
  transform: translateY(-5px);
}
.products .box-container .box .image a img#wj1{
  height:30rem;
}
.products .box-container .box .image a img#wj2{
  height:30rem;
}
.products .box-container .box .image a img#wj3{
  height:30rem;
}
.products .box-container .box .content {
  padding: 1.5rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
}

.products .box-container .box .content .price {
  font-size: 2rem;
  color: #222;
  padding: 1rem 0;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: rgba(179, 117, 50, 0.986);
}

.credit {
  text-align: center;
  background: rgba(179, 117, 50, 0.986);
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home #next-slide,
  .home #prev-slide {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 88%;
  }
  .home #prev-slide {
    left: auto;
    right: 8rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .header .search-form.active {
    top: 99%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #f3f3f3;
    font-size: 2rem;
    display: block;
    border-radius: .5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slides-container .slide .content h3 {
    font-size: 5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
